# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight MorningStar Client
Exec=electrum-mrng %u
GenericName[en_US]=MorningStar Wallet
GenericName=MorningStar Wallet
Icon=electrum-mrng
Name[en_US]=electrum-mrng.desktop
Name=Electrum MorningStar Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/morningstar;

