include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-mrng.conf.sample
include electrum-mrng.desktop
include *.py
include electrum-mrng
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *

